@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mobile-container {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 5px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-meals {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  overflow: auto;
}

.fav-container {
  padding: 1rem;
  text-align: center;
  background-color: rgb(211, 135, 230);
}

.fav-meals li {
  width: 85px;
  margin: 16px;
  position: relative;
}

.fav-meals li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

li span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

li .close-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: -20px;
  cursor: pointer;
}

img {
  width: 100%;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 5px #3333331a;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}
.meal-header .random {
  position: absolute;
  top: 10px;
  background-color: green;
  padding: 0.5rem;
  border-radius: 5px 0px 5px 0px;
  left: 10px;
}

.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.meal-body button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.meal-body .fav-btn {
  background-color: transparent;
}

.meal-body .fav-btn.active{
  color: hotpink;
  fill: rgb(211, 135, 230);
}

.meal-info-container{
background-color: rgba(0,0,0,0.5);
position: fixed;
top:0;
left:0;
bottom: 0;
right: 0;
display: flex;
align-items: center;
justify-content: center;
}

.meal-info-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.meal-info {
  background-color: white;
  max-width: 500px;
  width: 100%;
  padding: 0 2rem;
  border-radius: 5px;
  position: relative;
  max-height: 91vh;
  overflow: auto;
}

.meal-info h1 {
  text-align: center;
}

.meal-info .close-popup {
  position: absolute;
  top:1rem;
  right:1rem;
  font-size: 1.5rem;
  cursor: pointer;
}


