@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  background-color: azure;
  border-radius: 5px;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.image_container img {
  height: 70px;
  width: 70px;
}

h1 {
  font-size: 1rem;
  color: white;
}

main {
  background-color: rebeccapurple;
  padding: 6rem;
  box-shadow: 4px 5px 9px;
}
