@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

body{
    font-family: 'Cambay', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bgc {
    background: rebeccapurple;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 9px;
    cursor: pointer;
}

button:focus {
    outline: none;
}