@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');

body{
    font-family: 'Cambay', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
}

.container {
    height: 500px;
    width: 500px;
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
