@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.quiz-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
    width: 500px;
     /*to make it responsive */
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li{
margin: 1rem 0;
font-size: 1.1rem;
}

button {
    background-color: #7158e2;
    color: white;
    font-family: inherit;
    width: 100%;
    padding: 1.3rem;
    font-size: 1.3rem;
    display: block;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #574b90;
}

h2{
    text-align: center;
    margin: 0;
    padding: 1rem;
}